body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #cccccc;
}

header {
  position: sticky;
  top: 0;
  z-index: 30;
  background: #022c22;
  padding: 10px 0; /* slightly smaller padding for mobile */
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* allow stacking on small screens */
}

header img {
  height: 50px; /* smaller logo for mobile */
  margin-right: 200px;
}

header h2 {
  font-size: 16px; /* smaller text for mobile */
  margin-left: 10px;
}

/* For larger screens */
@media screen and (min-width: 640px) {
  header {
    padding: 15px 0;
  }
  header img {
    height: 96px; /* original size h-24 */
  }
  header h2 {
    font-size: 24px; /* original size */
    margin-left: 20px;
  }
}

#map {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    z-index: 1;
}

.tree-cluster {
  background: #047857;      /* green */
  border-radius: 75%;       /* circle */
  width: 60px;
  height: 60px;
  border: 2px solid #175020;
  text-align: center;
  line-height: 40px;        /* center text vertically */
  font-weight: bold;
  font-size: 12px;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  align-items: center;
}

.info.legend {
    background: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-size: 16px;
    color: black;
    line-height: 40px;
}

.legend-item {
    display: flex;
    align-items: center;
    opacity: 0.7;
}

.info {
    padding: 10px 12px;
    font: 14px/18px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #333;
    position: absolute;
    top: 80px;
    right: 10px;
    z-index: 1000;
    min-width: 200px;
}

.info h4 {
    margin: 0 0 10px 0;
    color: #1a1a1a;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}

.info ul li strong {
    color: #0074D9; /* subtle accent color for property names */
}